
 
body, button {
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
}



th, #textArea, #submitButtonArea {
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}

  button {
    border: 0px;
  }



.shirt0 {
  background-color: #FF0000;
}

.shirt1 {
  background-color: #00FF00;
}

.shirt2 {
  background-color: #0000FF;
}


.skin0 {
  background-color: #8d5524;
}

.skin1 {
  background-color: #c68642;
}

.skin2 {
  background-color: #e0ac69;
}

.skin3 {
  background-color: #f1c27d;
}

.skin4 {
  background-color: #ffdbac;
}
