
 
body, button {
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
}



th, #textArea, #submitButtonArea {
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}

  button {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    border: 0px;
  }

.hair0 {
  background-color: #000000;
}

.hair1 {
  background-color: #3B3024;
}

.hair2 {
  background-color: #6A4E42;
}

.hair3 {
  background-color: #A56B46;
}

.hair4 {
  background-color: #B55239;
}

.hair5 {
  background-color: #E5C8A8;
}


.shirt0 {
  background-color: #FF0000;
}

.shirt1 {
  background-color: #006400;
}

.shirt2 {
  background-color: #0000FF;
}

.pants0 {
  background-color: #320000;
}

.pants1 {
  background-color: #003200;
}

.pants2 {
  background-color: #000032;
}

.pants3 {
  background-color: #000000;
}


.skin0 {
  background-color: #8d5524;
}

.skin1 {
  background-color: #c68642;
}

.skin2 {
  background-color: #e0ac69;
}

.skin3 {
  background-color: #f1c27d;
}

.skin4 {
  background-color: #ffdbac;
}
