#textArea, #name, #HP {
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
}


.shirt0 {
  background-color: #FF0000;
}

.shirt1 {
  background-color: #00FF00;
}

.shirt2 {
  background-color: #0000FF;
}


.skin0 {
  background-color: #FFDCB1;
}

.skin1 {
  background-color: #E5C298;
}

.skin2 {
  background-color: #E4B98E;
}

.skin3 {
  background-color: #E2B98F;
}

.skin4 {
  background-color: #E3A173;
}
